/* app css stylesheet */

/*GENERAL*/

.inlineBlock {
    display: inline-block;
}

.spacer {
    margin-top: 30px;
}

/*TODO: uncommented for menu*/
/*MENU*/
/*.menu {*/
  /*list-style: none;*/
  /*border-bottom: 0.1em solid black;*/
  /*margin-bottom: 2em;*/
  /*padding: 0 0 0.5em;*/
/*}*/

/*.menu:before {*/
  /*content: "[";*/
/*}*/

/*.menu:after {*/
  /*content: "]";*/
/*}*/

/*.menu > li {*/
  /*display: inline;*/
/*}*/

/*.menu > li:before {*/
  /*content: "|";*/
  /*padding-right: 0.3em;*/
/*}*/

/*.menu > li:nth-child(1):before {*/
  /*content: "";*/
  /*padding: 0;*/
/*}*/


/*TODO: check forms styles*/
/*FORMS*/
.form-horizontal .control-label {
    float: left;
    width: 120px;  /*changed from 160px to 120px*/
    padding-top: 5px;
    text-align: right;
}

.form-horizontal .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 140px;   /*changed from 180px to 140px*/
    *margin-left: 0;
}