<div class="spacer"></div>

<div class="form-horizontal" ng-form="GeneralForm">

    <div class="form-group row" ng-class="{'has-error': GeneralForm.date.$invalid}">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Date</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Date"
                   ui-date ui-date-format="DD, d MM, yy"
                   name="date"
                   ng-model="model.date"
                   required>
        </div>
    </div>

    <div class="form-group row" ng-class="{'has-error': GeneralForm.time.$invalid}">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2
                                        marginTopTimeLabel">Time</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <timepicker name="time" ng-model="model.time" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Reported By: </label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3" ng-class="{'has-error': GeneralForm.reportedBy.$invalid}">
            <select class="form-control" name="reportedBy" ng-options="color.name for color in optionCompanies" ng-model="model.reortedBy" required=""></select>
        </div>

        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Wall number</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3" ng-class="{'has-error': GeneralForm.wallNum.$invalid}">
            <select class="form-control" id="inputEmail" placeholder="Email"
                   name="wallNum"
                   ng-model="model.wellNum"
                   required=""
                   ng-options="wellNum for wellNum in optionsWellNum"></select>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Company of Reporter</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Region</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email"
                    ng-model="model.region" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Contact number</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail"
                   ng-model="model.contactNum"


                   placeholder="Email">
        </div>

        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Field Office</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email"
                    ng-model="model.fieldOffice" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Supervisor name</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">State</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email"
                    ng-model="model.state" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Hight Level Description</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>



</div>