<div class="spacer"></div>

<form class="form-horizontal">

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Date and time</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email"
                   ui-date ui-date-format="DD, d MM, yy"
                    ng-model="model.date">
        </div>
    </div>


    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Reported By: </label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Wall number</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Company of Reporter</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Region</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Contact number</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Field Office</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Supervisor name</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Severity</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="control-label col-xs-2 col-sm-2 col-md-3 col-lg-2">Hight Level Description</label>
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <input class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>



</form>